/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
/var/sessionss
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
web/uploads
web/bundles
web/media
web/user
web/css/*
web/js/*
web/app_dev.php
src/Qnoow/LandingBundle/Resources/public/node_modules
