/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/var/cache
/var/logs
/var/sessions
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
web/uploads
web/bundles
web/media
web/css/*
web/js/*
web/app_dev.php
src/Qnoow/LandingBundle/Resources/public/node_modules
!src/Qnoow/LandingBundle/Resources/public/www
/src/Qnoow/LandingBundle/Resources/public/www/*
!src/Qnoow/LandingBundle/Resources/public/www/.gitkeep
