<html>
<body>
<p>Un usuario se ha puesto en contacto a través del formulario de contacto de Nekuno. El usuario ha aportado los siguientes datos:</p>

<p>Nombre: {{ contactProspect.name }}</p>
<p>Email: {{ contactProspect.email }}</p>
<p>Texto: {{ contactProspect.text }}</p>
</body>
</html>