$dark-blue: #141134;
$deep-purple: #9f82e3;
$dark-purple: #6342b1;;
$dark-gray: #424753;
$green: #69d6b8;
$top-transparency-layer: #151132;
$slider-transparency-layer-bottom: #141134;
$slider-transparency-layer-top: rgba(99, 65, 177, 0.27);
$blog-section-background: #f9f9f9;
$blog-section-border: #ededed;

$facebook-blue: #3b5998;
$facebook-blue-light: #637bad;
$twitter-blue: #55acee;
$spotify-green: #82b919;
$google-red: #d34836;
$youtube-red: #cd201f;