<div id="apple-store-notice">
    <div class="apple-store-box">
        <p>{{ 'landing.home.apple-store-notice'|trans }}</p>
        <div class="close">{{ 'landing.general.close'|trans }}</div>
    </div>
</div>